In [1]:
# this workaround is needed because of
# https://github.com/jupyterlite/jupyterlite/issues/119

from js import fetch

URL = "https://raw.githubusercontent.com/ronnystandtke/jupyter-exercises/main/content/Holzpreisindex.csv"
res = await fetch(URL)
text = await res.text()

filename = 'data.csv'

with open(filename, 'w') as f:
    f.write(text)

In [3]:
import pandas as pd

dataFrame = pd.read_csv(filename)
dataFrame

   Periode  Baumaterialien Holz  Hilfsmaterialien Holz  Verpackungen Holz
0     1_11                108.3                  108.4              130.6
1     2_11                106.9                  108.8              132.6
2     3_11                107.0                  107.8              128.8
3     4_11                105.9                  108.7              126.9
4     5_11                104.6                  107.8              125.2
..     ...                  ...                    ...                ...
56    3_20                100.1                   99.2              101.6
57    4_20                 99.6                  100.0              100.0
58    5_20                100.0                  100.0              100.0
59    6_20                101.6                   99.8              100.3
60    1_21                102.6                   99.3              105.4

[61 rows x 4 columns]